<div>
  <h2 id="page-heading" data-cy="DadosPessoaisHeading">
    <span jhiTranslate="reservaApp.dadosPessoais.home.title">Dados Pessoais</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaApp.dadosPessoais.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dados-pessoais"
        [routerLink]="['/dados-pessoais/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaApp.dadosPessoais.home.createLabel"> Create a new Dados Pessoais </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dadosPessoais?.length === 0">
    <span jhiTranslate="reservaApp.dadosPessoais.home.notFound">No dadosPessoais found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dadosPessoais && dadosPessoais.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.dadosPessoais.endereco">Endereco</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.dadosPessoais.telefone">Telefone</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.dadosPessoais.email">Email</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.dadosPessoais.aLUNO">A LUNO</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.dadosPessoais.pROFESSOR">P ROFESSOR</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dadosPessoais of dadosPessoais; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dados-pessoais', dadosPessoais.id, 'view']">{{ dadosPessoais.id }}</a>
          </td>
          <td>{{ dadosPessoais.endereco }}</td>
          <td>{{ dadosPessoais.telefone }}</td>
          <td>{{ dadosPessoais.email }}</td>
          <td>
            <div *ngIf="dadosPessoais.aLUNO">
              <a [routerLink]="['/aluno', dadosPessoais.aLUNO?.id, 'view']">{{ dadosPessoais.aLUNO?.matriculaAluno }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dadosPessoais.pROFESSOR">
              <a [routerLink]="['/professor', dadosPessoais.pROFESSOR?.id, 'view']">{{ dadosPessoais.pROFESSOR?.matriculaProf }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dados-pessoais', dadosPessoais.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dados-pessoais', dadosPessoais.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dadosPessoais)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
