<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pROFESSOR">
      <h2 data-cy="pROFESSORDetailsHeading"><span jhiTranslate="reservaApp.pROFESSOR.detail.title">PROFESSOR</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pROFESSOR.id }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.pROFESSOR.matriculaProf">Matricula Prof</span></dt>
        <dd>
          <span>{{ pROFESSOR.matriculaProf }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.pROFESSOR.nome">Nome</span></dt>
        <dd>
          <span>{{ pROFESSOR.nome }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.pROFESSOR.disciplina">Disciplina</span></dt>
        <dd>
          <span>{{ pROFESSOR.disciplina }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.pROFESSOR.faculdade">Faculdade</span></dt>
        <dd>
          <span>{{ pROFESSOR.faculdade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/professor', pROFESSOR.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
