<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aLUNO">
      <h2 data-cy="aLUNODetailsHeading"><span jhiTranslate="reservaApp.aLUNO.detail.title">ALUNO</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aLUNO.id }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.aLUNO.matriculaAluno">Matricula Aluno</span></dt>
        <dd>
          <span>{{ aLUNO.matriculaAluno }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.aLUNO.nome">Nome</span></dt>
        <dd>
          <span>{{ aLUNO.nome }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.aLUNO.areaDeConhecimento">Area De Conhecimento</span></dt>
        <dd>
          <span jhiTranslate="{{ 'reservaApp.Area.' + aLUNO.areaDeConhecimento }}">{{ aLUNO.areaDeConhecimento }}</span>
        </dd>
        <dt><span jhiTranslate="reservaApp.aLUNO.curso">Curso</span></dt>
        <dd>
          <span>{{ aLUNO.curso }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/aluno', aLUNO.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
