<div>
  <h2 id="page-heading" data-cy="PROFESSORHeading">
    <span jhiTranslate="reservaApp.pROFESSOR.home.title">PROFESSORS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaApp.pROFESSOR.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-professor"
        [routerLink]="['/professor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaApp.pROFESSOR.home.createLabel"> Create a new PROFESSOR </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pROFESSORS?.length === 0">
    <span jhiTranslate="reservaApp.pROFESSOR.home.notFound">No pROFESSORS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pROFESSORS && pROFESSORS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.pROFESSOR.matriculaProf">Matricula Prof</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.pROFESSOR.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.pROFESSOR.disciplina">Disciplina</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.pROFESSOR.faculdade">Faculdade</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pROFESSOR of pROFESSORS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/professor', pROFESSOR.id, 'view']">{{ pROFESSOR.id }}</a>
          </td>
          <td>{{ pROFESSOR.matriculaProf }}</td>
          <td>{{ pROFESSOR.nome }}</td>
          <td>{{ pROFESSOR.disciplina }}</td>
          <td>{{ pROFESSOR.faculdade }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/professor', pROFESSOR.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/professor', pROFESSOR.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pROFESSOR)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
