<div>
  <h2 id="page-heading" data-cy="ALUNOHeading">
    <span jhiTranslate="reservaApp.aLUNO.home.title">ALUNOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaApp.aLUNO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aluno"
        [routerLink]="['/aluno/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaApp.aLUNO.home.createLabel"> Create a new ALUNO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aLUNOS?.length === 0">
    <span jhiTranslate="reservaApp.aLUNO.home.notFound">No aLUNOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aLUNOS && aLUNOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.aLUNO.matriculaAluno">Matricula Aluno</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.aLUNO.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.aLUNO.areaDeConhecimento">Area De Conhecimento</span></th>
          <th scope="col"><span jhiTranslate="reservaApp.aLUNO.curso">Curso</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aLUNO of aLUNOS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/aluno', aLUNO.id, 'view']">{{ aLUNO.id }}</a>
          </td>
          <td>{{ aLUNO.matriculaAluno }}</td>
          <td>{{ aLUNO.nome }}</td>
          <td jhiTranslate="{{ 'reservaApp.Area.' + aLUNO.areaDeConhecimento }}">{{ aLUNO.areaDeConhecimento }}</td>
          <td>{{ aLUNO.curso }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/aluno', aLUNO.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/aluno', aLUNO.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aLUNO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
