<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aluno-heading" data-cy="ALUNOCreateUpdateHeading" jhiTranslate="reservaApp.aLUNO.home.createOrEditLabel">
        Create or edit a ALUNO
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaApp.aLUNO.matriculaAluno" for="field_matriculaAluno"
            >Matricula Aluno</label
          >
          <input
            type="number"
            class="form-control"
            name="matriculaAluno"
            id="field_matriculaAluno"
            data-cy="matriculaAluno"
            formControlName="matriculaAluno"
          />
          <div
            *ngIf="
              editForm.get('matriculaAluno')!.invalid && (editForm.get('matriculaAluno')!.dirty || editForm.get('matriculaAluno')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('matriculaAluno')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('matriculaAluno')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaApp.aLUNO.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaApp.aLUNO.areaDeConhecimento" for="field_areaDeConhecimento"
            >Area De Conhecimento</label
          >
          <select
            class="form-control"
            name="areaDeConhecimento"
            formControlName="areaDeConhecimento"
            id="field_areaDeConhecimento"
            data-cy="areaDeConhecimento"
          >
            <option [ngValue]="null">{{ 'reservaApp.Area.null' | translate }}</option>
            <option value="HUMANAS">{{ 'reservaApp.Area.HUMANAS' | translate }}</option>
            <option value="EXATAS">{{ 'reservaApp.Area.EXATAS' | translate }}</option>
            <option value="BIOLOGICAS">{{ 'reservaApp.Area.BIOLOGICAS' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaApp.aLUNO.curso" for="field_curso">Curso</label>
          <input type="text" class="form-control" name="curso" id="field_curso" data-cy="curso" formControlName="curso" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
